.form-login {
  align-items: center;
  background-color: blue;
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  max-width: 700px;
  width: 90%;
}

.form-login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  width: 80%;
}

.form-login input {
  height: 25px;
  margin: 0 0 20px;
  width: 100%;
}

.form-login a {
  max-width: 200px;
  width: 100%;
}

.form-login button {
  height: 70px;
  width: 100%;
}
