* {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  height: 50px;
  justify-content: flex-end;
  padding-right: 10px;
}