.forms {
  padding: 20px;
  text-align: center;
}

.inputs-form {
  border-radius: 10px;
  margin: 8px;
  padding: 3px;
  text-align: center;
}

.inputs-form:focus {
  outline: none;
}

.labels-form {
  margin: 15px;
}
