* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-table {
  background-color: white;
  border-collapse: collapse;
  font-size: 1em;
  margin: auto;
  padding: auto;
}

.container-table thead {
  background-color: #c8f288;
  color: black;
  text-align: center;
}

.container-table th {
  padding: 20px;
}

.container-table td {
  padding: 15px;
  text-align: center;
}

.container-table tbody tr {
  border-bottom: 1px solid black;
}

.container-table tbody tr:nth-of-type( even ) {
  background-color: #e2f7c2;
}

.container-table tbody tr:last-of-type {
  border-bottom: 2px solid #c8f288;
}

.container-table button {
  background-color: transparent;
  border: 1px solid rgb(248, 56, 56);
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px;
}

.container-table button:hover {
  background-color: rgb(248, 56, 56);
  border: none;
  cursor: pointer;
}
