.geral {
  font-size: 10px;
}

.valor {
  font-size: 10px;
  margin-right: 10px;
  padding-right: 5px;
  width: 50px;
}

.descricao {
  font-size: 10px;
  margin-right: 10px;
  padding-right: 5px;
  width: 110px;
}

.pgto {
  font-size: 10px;
  margin-right: 10px;
  padding-right: 5px;
  width: 100px;
}

.moeda {
  font-size: 10px;
  margin-right: 10px;
  padding-right: 5px;
  width: 100px;
}

.tag {
  font-size: 10px;
  margin-right: 10px;
  padding-right: 5px;
  width: 100px;
}

.button {
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  height: 20px;
  padding-right: 5px;
  width: 100px;
}
