.div-wallet {
  display: flex;
  flex-direction: row;
  float: right;
}

.figura {
  display: flex;
  flex-direction: row;
  float: left;
  margin-left: 5%;
}

.email {
  margin-right: 10px;
}

.header-wallet {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  padding: 0;
}

.despesa {
  margin-right: 10px;
  padding-right: 5px;
}

.cambio {
  margin-right: 10px;
  padding-right: 5px;
}
