tr {
  border: black solid 1px;
  width: 100%;
}

.cabecalho {
  background-color: dimgray;
}

th {
  border: black solid 1px;
  padding: 10px;
  text-align: center;
  width: 120px;
}

td {
  border: black solid 1px;
  padding: 10px;
  text-align: center;
  width: 120px;
}

