.despesas {
  border: 3px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.despesas td , .despesas th {
  border: 1px solid #ddd;
  padding: 8px;
}

.despesas tr:hover {
  background-color: #ddd;
}

.despesas tr:nth-child( even ) {
  background-color: #f2f2f2;
}

.despesas th {
  background-color: #4caf50;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

.buttonExclui {
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  height: 20px;
  padding-right: 5px;
  width: 50px;
}
