tr {
  border: black solid 1px;
  width: 100%;
}

.cabecalho{
  background-color: dimgray;
}

th{
  padding: 10px;
  border: black solid 1px;
  text-align: center;
  width: 120px;
}

td{
  padding: 10px;
  border: black solid 1px;
  text-align: center;
  width: 120px;
}

