.loginPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.loginBox {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  width: 320px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form input {
  margin: 3px 0;
  height: 30px;
  width: 100%;
}

.form button {
  height: 30px;
  margin: 20px 0;
  width: 100%;
}
