.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.login-heading {
  margin-top: 20%;
  text-align: center;
}

.login-inputs {
  height: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

.wallet-header span {
  margin-left: 5px;
}

.wallet-title {
  text-align: center;
}

.wallet-header-value {
  margin-left: 5px;
}

.wallet-form {
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: center;
  margin: auto;
}

.wallet-form label {
  margin: auto 10px;
}

.input-value {
  width: 50px;
}

table,tbody {
  margin-top: 5px;
  padding: 0;
  width: 100%;
}

th {
  box-sizing: border-box;
  border-bottom: solid 1px black;
  margin: 0;
  text-align: center;
}

td {
  border-bottom: solid 1px black;
  text-align: center;
}
