* {
  margin: 0;
}

form {
  margin: 30%;
}

body {
  background-color: #333333;
}

.Login form {
  display: flex;
  flex-direction: column;
}

.travolta {
  border-radius: 7px;
}

.travoltaWallet {
  height: 60px;
}

.buttonLogin {
  margin-top: 10px;
}

.headerWallet {
  background-color: #969595;
  display: flex;
}
