:root {

  --bg: #404040;

  --bgColor: #333;

  --linkColor: rgb(102, 177, 243);

  --Color: white;
}

input {
  background: var(--bg);
  background-color: transparent;
  background-image: none;
  border: none;
  color: var(--inputColor);
  margin: 10px;
  padding: 10px;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

.link {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Login {
  background-color: var(--bgColor);
  border-radius: 4px;
  padding: 20px;
}

.Login .login-inputs {
  display: flex;
  flex-direction: column;
}

button {
  background: var(--Color);
  background-color: transparent;
  border: 5px;
  color: var(--linkColor);
  font-weight: 800;
  margin: 10px;
  padding: 10px;
}
