body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'PoetsenOne';
  src: url('./files/fonts/PoetsenOne.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'PoetsenOne';
}

a {
  color: black;
}

/* LOGIN PAGE ------------------------------------------------------*/
.Login {
  margin: 100px auto;
  width: 470px;
  height: 560px;
  border-radius: 15px;
  box-shadow: 0px 4px 50px 8px #d8d5d5e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerLogin {
  display: flex;
  flex-direction: column;
}

.headerLogin img {
  width: 320px;
}

.headerLogin .walletLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
}

.walletLogin {
  align-self: flex-end;
  font-size: 1.1em;
}

.walletLogin .wallet {
  font-size: 2.2em;
  align-self: flex-end;
}

.Login h2 {
  margin: 25px 25px;
}

.areaInputs {
  display: flex;
  flex-direction: column;
}

.areaInputs {
  width: 90%;
}

.areaInputs .inputEmail {
  display: flex;
  justify-content: center;
}

.areaInputs input {
  width: 85%;
  height: 40px;
  font-size: 1.2em;
  border: 1px solid #D6D3D3;
  border-left: none;
  border-radius: 0 15px 15px 0;
  padding-left: 5px;
  margin-bottom: 30px;
  outline: none;
}

.areaInputs .iconInput {
  font-size: 2.5em;
  width: 12%;
  background-color: #D6D3D3;
  color: #827F7F;
  border: 1px solid #D6D3D3;
  border-right: none;
  border-radius: 15px 0  0 15px;
  padding: 5px;
}

.areaInputs .inputPwd {
  display: flex;
  justify-content: center;
}

.areaButtonsLogin {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.enterBtnLogin-color {
  font-size: 1.4em;
  background-color: #89C280;
  padding: 5px 15px 5px 15px;
  margin-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: none;
  /* box-shadow: 1px 1px 4px 1px gray; */
  position: relative;
  z-index: 0;
}

.enterBtnLogin {
  color: white;
  font-size: 1.4em;
  background-color: #89C280;
  padding: 5px 15px 5px 15px;
  margin-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 4px 1px gray;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.enterBtnLogin:before {
  content: '';
  position: absolute;
  border-radius: 15px;
  background-color: #6d9b67;
  width: 0;
  height: 101%;
  top: 0;
  left: 0;
  z-index:-1;
  transition: all .5s ease;
}

.enterBtnLogin:hover:before {
  width: 101%;
}

.enterBtnLogin:hover {
  transition: all 0.5s ease;
}

/* --------------------------------------------------------------------- */

/* WALLET PAGE ------------------------------------------------------*/

.walletPage .walletHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-top: 15px;
}

.walletPage .walletHeader img {
  width: 120px;
}

.walletHeader .email_totalExpenses {
  display: flex;
  justify-content: space-between;
}

.email_totalExpenses p {
  margin-right: 15px;
}
/* --------------------------------------------------------------------- */

/* FOMSWALLET COMPONENT ------------------------------------------------------*/

.formsWalletAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 70px;
  background-color: #262b33;
}

.formsWalletEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 70px;
  background-color: #084122;
}

.forms {
  margin-top: 35px;
}

.formsWalletAdd label, .formsWalletEdit label {
  margin-left: 35px;
  color: white;
}

.formsWalletAdd input, .formsWalletEdit input {
  margin-left: 10px;
  height: 25px;
  font-size: 1.2em;
  border: 1px solid #D6D3D3;
  border-left: none;
  border-radius: 15px;
  padding-left: 5px;
  margin-bottom: 30px;
  outline: none;
}

.formsWalletAdd .value, .formsWalletEdit .value {
  width: 70px;
  padding: 8px;
}

.formsWalletAdd select, .formsWalletEdit select {
  margin-left: 10px;
  height: 25px;
  font-size: 0.9em;
  border: 1px solid #D6D3D3;
  border-left: none;
  border-radius: 15px;
  padding-left: 5px;
  margin-bottom: 30px;
  outline: none;
}

.formsWalletAdd .description, .formsWalletEdit .description {
  width: 200px;
  padding: 8px;
}

.formsWalletAdd .addExpense {
  color: white;
  font-size: 1em;
  background-color: #0079fc;
  padding: 5px 15px 5px 15px;
  margin-left: 5px;
  width: 170px;
  height: 30px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 4px 1px gray;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.formsWalletAdd .addExpense:before {
  content: '';
  position: absolute;
  border-radius: 15px;
  background-color: #6d9b67;
  width: 0;
  height: 101%;
  top: 0;
  left: 0;
  z-index:-1;
  transition: all .5s ease;
}

.formsWalletAdd .addExpense:hover:before {
  width: 101%;
}

.formsWalletAdd .addExpense:hover {
  transition: all 0.5s ease;
}

.formsWalletEdit .editExpense {
  color: white;
  font-size: 1em;
  background-color: #6d9b67;
  padding: 5px 15px 5px 15px;
  margin-left: 5px;
  width: 170px;
  height: 30px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 4px 1px gray;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.formsWalletEdit .editExpense:before {
  content: '';
  position: absolute;
  border-radius: 15px;
  background-color: #0079fc;
  width: 0;
  height: 101%;
  top: 0;
  left: 0;
  z-index:-1;
  transition: all .5s ease;
}

.formsWalletEdit .editExpense:hover:before {
  width: 101%;
}

.formsWalletEdit .editExpense:hover {
  transition: all 0.5s ease;
}
/* --------------------------------------------------------------------- */

/* TABLEWALLET COMPONENT ------------------------------------------------------*/

.tableWallet {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableWallet .tableHeader {
  height: 30px;
  background-color: #31393e;
  color: white;
}

 .tableWallet .tableHeader tr th {
  width: 300px;
}

.isEven {
  background-color: #f3f3f3;
}

.tableWallet .tableBody td {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.areaButtons {
  display: flex;
  justify-content: center;
  
}

.areaButtons .eraseButton {
  font-size: 1.2em;
  background-color: #D6D3D3;
  padding: 3px 10px 3px 10px;
  margin-left: 12px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px 1px gray;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.areaButtons .eraseButton:before {
  content: '';
  position: absolute;
  border-radius: 5px;
  background-color: #f4796b;
  width: 0;
  height: 101%;
  top: 0;
  left: 0;
  z-index:-1;
  transition: all .5s ease;
}

.areaButtons .eraseButton:hover:before {
  width: 101%;
}

.areaButtons .eraseButton:hover {
  color: white;
  box-shadow: 0px 0px 20px 1px rgb(46, 146, 193);
  transition: all 0.5s ease;
}

.areaButtons .editButton {
  font-size: 1.2em;
  background-color: #D6D3D3;
  padding: 2px 10px 3px 10px;
  /* margin-left: 50px; */
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px 1px gray;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.areaButtons .editButton:before {
  content: '';
  position: absolute;
  border-radius: 5px;
  background-color: #6d9b67;
  width: 0;
  height: 101%;
  top: 0;
  left: 0;
  z-index:-1;
  transition: all .5s ease;
}

.areaButtons .editButton:hover:before {
  width: 101%;
}

.areaButtons .editButton:hover {
  color: white;
  box-shadow: 0px 0px 20px 1px rgb(46, 146, 193);
  transition: all 0.5s ease;
}
/* --------------------------------------------------------------------- */